/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.headmenu {
	display:none;
	min-width:290px;
	float:right;
	text-align:right;
	background-color:#d0d0d0;
	margin-bottom:20px;
}
.infobut {
	padding-right:40px;
	
}
.headmenu ul li {
	display:block;
	font-size:18px;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


#nav3, #nav3 li {
  margin: 0;
  padding: 0;
}
#nav3 {
  text-align: center;
}
#nav3 li {
  display: inline-block;
}



.seasonz {
	max-width: 960px;
    margin: 0 auto;
    text-align: center;
	position:relative;
	height:610px;
}

.season_tabs {
  display: inline-block;
  margin: 0; 
  text-align: center;
  min-height: 600px;
  width: 100%;
  clear: both;
}

.season_tab {
margin: 0;
padding: 0;
border:none;  
text-align: center;
clear: none;
width: auto;
padding-top:23px;	
list-style-type: none;
}

.season_tab label {
font-size:12px;
max-width: 149px;
color:#9fa9a9;
}

.season_tab [type=radio] {
 display: none;   
}

.season_content {
position: absolute;
top: 80px;
left:0px;
background: white;
right: 0;
bottom: 0;
height:500px;
}

[type=radio]:checked ~ div {
  background-color:#fff;
}

[type=radio]:checked ~ label {
  background: white;
  z-index: 2;
}
[type=radio]:hover ~ label {
 cursor: pointer;
}
[type=radio]:checked ~ label ~ .season_content {
  z-index: 1;
}
[type=radio] ~ label[for="tab-1"] {	
background: url(../img/love1.png) no-repeat; height: 90px;padding: 0 0 35px 52px;}
[type=radio]:hover ~ label[for="tab-1"] {
background: url(../img/love2.png) no-repeat; height: 90px;padding: 0 0 35px 52px; position:relative;color:#636c6c;	}
[type=radio]:checked ~ label[for="tab-1"] {
background: url(../img/love2.png) no-repeat;height: 90px;padding: 0 0 35px 52px; position:relative;color:#636c6c;	}

[type=radio] ~ label[for="tab-2"] {	
background: url(../img/port1.png) no-repeat;height: 90px;padding: 0 0 25px 51px; position:relative;left:12px;top:-4px;}
[type=radio]:hover ~ label[for="tab-2"] {
background: url(../img/port2.png) no-repeat;height: 90px;padding: 0 0 25px 51px; position:relative;left:12px;top:-4px;color:#636c6c;	}
[type=radio]:checked ~ label[for="tab-2"] {
background: url(../img/port2.png) no-repeat;height: 90px;padding: 0 0 25px 51px; position:relative;left:12px;top:-4px;color:#636c6c;	}

[type=radio] ~ label[for="tab-3"] {	
background: url(../img/list1.png) no-repeat;height: 90px;padding: 0 0 35px 55px; left:12px;position:relative;}
[type=radio]:hover ~ label[for="tab-3"] {
background: url(../img/list2.png) no-repeat;height: 90px;padding: 0 0 35px 55px;left:12px; position:relative;color:#636c6c;		}
[type=radio]:checked ~ label[for="tab-3"] {
background: url(../img/list2.png) no-repeat;height: 90px;padding: 0 0 35px 55px;left:12px; position:relative;color:#636c6c;	}

[type=radio] ~ label[for="tab-4"] {	
background: url(../img/bl1.png) no-repeat;height: 90px;padding: 0 0 35px 10px;left:12px; position:relative;}
[type=radio]:hover ~ label[for="tab-4"] {
background: url(../img/bl2.png) no-repeat;height: 90px;padding: 0 0 35px 10px;left:12px; position:relative;color:#636c6c;	}
[type=radio]:checked ~ label[for="tab-4"] {
background: url(../img/bl2.png) no-repeat;height: 90px;padding: 0 0 35px 10px;left:12px; position:relative;color:#636c6c;	}

[type=radio] ~ label[for="tab-5"] {	
background: url(../img/umbr1.png) no-repeat;height: 90px;padding: 0 0 35px 53px; position:relative;}
[type=radio]:hover ~ label[for="tab-5"] {
background: url(../img/umbr2.png) no-repeat;height: 90px;padding: 0 0 35px 53px; position:relative;color:#636c6c;	}
[type=radio]:checked ~ label[for="tab-5"] {
background: url(../img/umbr2.png) no-repeat;height: 90px;padding: 0 0 35px 53px; position:relative;color:#636c6c;	}


.phonetwo {
min-height: 570px;
}
.phone2 img {
max-width: 100%;
padding: 90px 0 0 0;

}
.phone2 h1{	
color:#5dca88;
padding-top: 60px;
font-size: 34px;
line-height: 1.2;
max-width:510px;
}
.phone2 h2{	
color:#8c9494;
font-weight: normal;
font-size: 30px;
line-height: 1.2;
max-width: 430px;
}

.phone2 p{	
color:#8c9494;
font-weight: normal;
max-width: 430px;
}


.butdo2 {
margin-top: 40px;
}
.butdo2 a {
	color:#636c6c;
	font-size:18px;
	font-weight: bold;
	border: 3px solid #aab2b5;
	text-transform: uppercase;
	border-radius: 40px;
	padding: 10px 50px;
	background-clip: padding-box;

}

.phonethree {
min-height: 500px;
}
.phone3 {
text-align: center;

}
.phone3 img {
max-width: 100%;
padding: 30px 0 0 0;
margin-bottom: 0px;
}

.phone3 h1{	
padding-top: 30px;
font-size: 34px;
margin-bottom:15px;text-align: left;
}
.phone3 h2{	
font-size: 30px;
margin-top: 25px;text-align: left;
}

.phone3 p{	
margin-top:23px;
text-align: left;
}

.butdo3 {
margin-top: 30px;
}
.butdo3 a {
	color:#636c6c;
	font-size:18px;
	font-weight: bold;
	border: 3px solid #aab2b5;
	text-transform: uppercase;
	border-radius: 40px;
	padding: 10px 50px;
	background-clip: padding-box;

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.info {
	text-align:left;
	padding-left:50px;
}
	.info {
	margin-top:-15px;
	text-align:left;
	white-space: pre-wrap;	
}
.toggle {
  display: block;
  	float:right;
	position:absolute;
	right:0;
	top:0;
	line-height: 73px;
  width: 23px;
  height: 30px;
  margin: 68px auto 10px;
}
.phone2 {
max-width: 100%;
text-align:center;
}
.phone2 h1{	
font-size: 34px;
padding-top: 16px;
line-height: 1.2;
max-width:100%;
text-align:left;
}
.phone2 h2{	
max-width: 100%;
text-align:left;
}
.phone2 p{	
max-width: 100%;
text-align:center;
}




#nav3, #nav3 li {
  margin: 0;
  padding: 0;
}
#nav3 {
  text-align: center;
}
#nav3 li {
  display: inline-block;
}
.seasonz {
	max-width: 960px;
    margin: 0 auto;
    text-align: center;
	position:relative;
	max-height:610px;
}
.season_tabs {
  display: inline-block;
  margin: 0; 
  text-align: center;
  min-height: 600px;
  max-width: 100%;
  clear: both;
}
.season_tab {
margin: 0;
padding: 0;
border:none;  
text-align: center;
clear: none;
width: auto;
padding-top:23px;	
list-style-type: none;
}
.season_tab label {
font-size:0;
max-width: 93px;
color:#9fa9a9;
}
.season_tab [type=radio] {
 display: none;   
}
.season_content {
position: absolute;
top: 80px;
left:0px;
background: white;
right: 0;
bottom: 0;
height:510px;
}
[type=radio]:checked ~ div {
  background-color:#fff;
}
[type=radio]:checked ~ label {
  background: white;
  z-index: 2;
}
[type=radio]:hover ~ label {
 cursor: pointer;
}
[type=radio]:checked ~ label ~ .season_content {
  z-index: 1;
}
[type=radio] ~ label[for="tab-1"] {	
background: url(../img/love1.png) no-repeat; height: 90px;}
[type=radio]:hover ~ label[for="tab-1"] {
background: url(../img/love2.png) no-repeat; height: 90px;}
[type=radio]:checked ~ label[for="tab-1"] {
background: url(../img/love2.png) no-repeat;height: 90px;}

[type=radio] ~ label[for="tab-2"] {	
background: url(../img/port1.png) no-repeat;height: 90px;}
[type=radio]:hover ~ label[for="tab-2"] {
background: url(../img/port2.png) no-repeat;height: 90px;}
[type=radio]:checked ~ label[for="tab-2"] {
background: url(../img/port2.png) no-repeat;height: 90px;}

[type=radio] ~ label[for="tab-3"] {	
background: url(../img/list1.png) no-repeat;height: 90px;}
[type=radio]:hover ~ label[for="tab-3"] {
background: url(../img/list2.png) no-repeat;height: 90px;}
[type=radio]:checked ~ label[for="tab-3"] {
background: url(../img/list2.png) no-repeat;height: 90px;}

[type=radio] ~ label[for="tab-4"] {	
background: url(../img/bl1.png) no-repeat;height: 90px;}
[type=radio]:hover ~ label[for="tab-4"] {
background: url(../img/bl2.png) no-repeat;height: 90px;}
[type=radio]:checked ~ label[for="tab-4"] {
background: url(../img/bl2.png) no-repeat;height: 90px;}

[type=radio] ~ label[for="tab-5"] {	
background: url(../img/umbr1.png) no-repeat;height: 90px;}
[type=radio]:hover ~ label[for="tab-5"] {
background: url(../img/umbr2.png) no-repeat;height: 90px;}
[type=radio]:checked ~ label[for="tab-5"] {
background: url(../img/umbr2.png) no-repeat;height: 90px;}



.screens .owl-controls .owl-nav>div{
left:23px;
}


.screens .owl-controls .owl-nav .owl-next {
right:23px;
}

.butdo2 {
margin-top: 40px;
}
.butdo2 a {
	font-size:18px;
	border: 3px solid #aab2b5;
	border-radius: 40px;
	padding: 10px 50px;
}


.phone3 {
text-align: center;


}
.phone3 img {
max-width: 100%;
padding: 30px 0 0 0;

margin-bottom: 0px;

}

.phone3 h1{	
padding-top: 30px;
font-size: 34px;
max-width: 100%;
margin-bottom:15px;text-align: center;
}
.phone3 h2{	
font-size: 30px;max-width: 100%;
margin-top: 25px;text-align: center;
}

.phone3 p{	
margin-top:23px;max-width: 100%;
text-align: center;
}

.butdo3 {
margin-top: 30px;
margin-bottom:30px;
}
.butdo3 a {
	color:#636c6c;
	font-size:18px;
	font-weight: bold;
	border: 3px solid #aab2b5;
	text-transform: uppercase;
	border-radius: 40px;
	padding: 10px 50px;
	background-clip: padding-box;

}
 hr {
	text-align:center;
	width: 100%;
   }

.about {
padding-top: 63px;
}
.about h1 {
font-size: 36px;
}

   
.letter{
padding-top: 30px; 
}
.letter2{
padding-bottom: 20px;
}
.letter2 h2{
font-size: 30px;
}

.formcontrol {
padding-left: 30px;
font-size: 14px;
color: #000;
}   
.forms {
margin:auto;
padding-bottom: 65px;
max-width: 770px;
}
.footermenu a{
font-size: 14px;
color: #8c9494;
padding-right: 17px;
}   
}




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.logo img {
	width: 103px;
}
	.info {
	margin-top:-23px;
	text-align:left;
	white-space: pre-wrap;	
}
.toggle {
  display: block;
  	float:right;
	position:absolute;
	right:0;
	top:0;
	line-height: 73px;
  width: 23px;
  height: 30px;
  margin: 75px auto 10px;
}


	.info li{
	font-size: 12px;
	list-style-type: none;
	text-align:left;
	margin-left:-20px;

}

.infophone {
	
	
	background: url(../img/phone.png) no-repeat;
	background-position: 10px 4px ;
}
.butdo {
text-align:center;
}


#nav3, #nav3 li {
  margin: 0;
  padding: 0;
}
#nav3 {
  text-align: center;
}
#nav3 li {
  display: inline-block;
}



.seasonz {
	max-width: 960px;
    margin: 0 auto;
    text-align: center;
	position:relative;
	height:610px;
}

.season_tabs {
  display: inline-block;
  margin: 0; 
  text-align: center;
  min-height: 600px;
  max-width: 100%;
  clear: both;
}

.season_tab {
margin: 0;
padding: 0;
border:none;  
text-align: center;
clear: none;
width: auto;
padding-top:23px;	
list-style-type: none;
}

.season_tab label {
font-size:0px;
max-width: 59px;
color:#9fa9a9;
}

.season_tab [type=radio] {
 display: none;   
}

.season_content {
position: absolute;
top: 80px;
left:0px;
background: white;
right: 0;
bottom: 0;
height:620px;
}

[type=radio]:checked ~ div {
  background-color:#fff;
}

[type=radio]:checked ~ label {
  background: white;
  z-index: 2;
}
[type=radio]:hover ~ label {
 cursor: pointer;
}
[type=radio]:checked ~ label ~ .season_content {
  z-index: 1;
}
[type=radio] ~ label[for="tab-1"] {	
background: url(../img/love1.png) no-repeat; height: 90px;}
[type=radio]:hover ~ label[for="tab-1"] {
background: url(../img/love2.png) no-repeat; height: 90px;}
[type=radio]:checked ~ label[for="tab-1"] {
background: url(../img/love2.png) no-repeat;height: 90px;}

[type=radio] ~ label[for="tab-2"] {	
background: url(../img/port1.png) no-repeat;height: 90px;}
[type=radio]:hover ~ label[for="tab-2"] {
background: url(../img/port2.png) no-repeat;height: 90px;}
[type=radio]:checked ~ label[for="tab-2"] {
background: url(../img/port2.png) no-repeat;height: 90px;}

[type=radio] ~ label[for="tab-3"] {	
background: url(../img/list1.png) no-repeat;height: 90px;}
[type=radio]:hover ~ label[for="tab-3"] {
background: url(../img/list2.png) no-repeat;height: 90px;}
[type=radio]:checked ~ label[for="tab-3"] {
background: url(../img/list2.png) no-repeat;height: 90px;}

[type=radio] ~ label[for="tab-4"] {	
background: url(../img/bl1.png) no-repeat;height: 90px;}
[type=radio]:hover ~ label[for="tab-4"] {
background: url(../img/bl2.png) no-repeat;height: 90px;}
[type=radio]:checked ~ label[for="tab-4"] {
background: url(../img/bl2.png) no-repeat;height: 90px;}

[type=radio] ~ label[for="tab-5"] {	
background: url(../img/umbr1.png) no-repeat;height: 90px;}
[type=radio]:hover ~ label[for="tab-5"] {
background: url(../img/umbr2.png) no-repeat;height: 90px;}
[type=radio]:checked ~ label[for="tab-5"] {
background: url(../img/umbr2.png) no-repeat;height: 90px;}


.phone2 h1{	
font-size: 34px;
padding-top: 89px;
line-height: 1.2;
max-width:100%;
text-align:center;
}

.about {
padding-top: 50px;
}
.about h1 {
font-size: 24px;
}

.letter{
display:inline-block;
padding-top: 30px; 
max-width: 100%;
}
.letter2{
display:inline-block;
padding-bottom: 20px;
margin: auto; 
max-width: 100%;
}
.letter2 h2{
font-size: 21px;
color: #8c9494;
}
.letter i{
font-size: 30px;
height: 21px;
width: 32px;
margin-right: 3px; 
color: #8c9494;
}
.forms {
margin:auto;
padding-bottom: 43px;
max-width: 370px;
}
.forms label[type=text] {
text-align:center;
}
.forms input[type=text] {
position:relative;
width: 100%;
height: 35px;
border-radius: 18px;
}
.forms input[type=submit] {
position:absolute;
width: 100px;
height: 35px;
border-radius: 18px;
font-size:13px;
transform: translate(-100px, 0);
}






.footer {
text-align: center;
min-height: 305px;
}
.fdescr {
padding-top: 30px;
}
.fdescr h5 {
color: #8c9494;
font-size: 22px;
margin:0;
padding-bottom:10px;
}

.fasocial {
display:block;
margin: 0 auto;
padding-top: 7px;
margin-left: -30px;
border-top: 1px solid #444; 
}
.fasocial ul li{
margin:0;
list-style-type: none;
display: inline-block;
}
.fasocial a i{
font-size: 20px;
height: 35px;
width: 35px;
margin-right: 10px;
border-radius: 20px;
padding-top: 8px;
}

.footermenu {
display:block;
font-size: 14px;
margin: 0 auto;
color:#8c9494;
padding-top: 7px;
border-top: 1px solid #444; 
}

.footermenu ul li{
display:block;
text-align: left;
font-size: 14px;
padding-top: 10px;
}
.footermenu a{
font-size: 14px;
color: #8c9494;
padding-right: 0;
text-decoration:underline;
}

.footermenu a:hover{
font-size: 14px;
color: #c3c3c3;
padding-right: 0;
text-decoration:none;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.headmenu {
display:block !impotant;
}
}